<div id='main' fxLayout="row" fxLayoutGap="10%">
  <form id='main-form' [formGroup]="form" fxLayout="column" fxLayoutGap="8%">
    <div formGroupName="rules" fxLayout="column">
      <mat-form-field>
        <input matInput type="text" placeholder="Rules alias" formControlName="alias">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput type="text" placeholder="Pre-flop rules"
                  formControlName="preFlopRules" cdkTextareaAutosize cdkAutosizeMinRows="13"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput type="text" placeholder="Post-flop rules" class="rulesField" matInput type="text" placeholder="Post-flop rules"
                  formControlName="postFlopRules" cdkTextareaAutosize cdkAutosizeMinRows="13"></textarea>
      </mat-form-field>
    </div>
  </form>
  <div id='error-form' fxLayout="column">
    <mat-form-field>
      <input matInput type="text" placeholder="Rules alias" [readonly]="true">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput type="text" placeholder="Pre-flop rules"
                   cdkTextareaAutosize cdkAutosizeMinRows="13" [readonly]="true"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput type="text" placeholder="Post-flop rules"
                   cdkTextareaAutosize cdkAutosizeMinRows="13" [readonly]="true"></textarea>
    </mat-form-field>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center" style="margin-top:50px;">
  <button mat-raised-button color="primary" (click)="createRules()">Create rules</button>
</div>


